<!--Page Template-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/favicon/favicon.png" type="image/x-icon">
    <link rel="icon" href="./assets/favicon/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="main.min.css">
    <meta name="author" content="Mark Joshwel">
    <meta name="description" content="Making what I feel like making.">
    <title>Mark Joshwel</title>
</head>
<body>
    <!-- ... -->
</body>
</html>