<!--
    Project Template

    Placeholders
        [anchor]
        [name]
        [details]
        [link]
        [licensing]
-->
<div class="project">
    <details>
        <summary id="[anchor]" class="project-name">
            [name]
        </summary>
        <div class="project-content">
            <p>
                [details]
            </p>
            <br>
            <p class="project-smalltext">
                <a class="project-hovertext" href="[link]">
                    Source Code
                </a>
                ‧
                [licensing]
            </p>
        </div>
    </details>
</div>