<div class="project">
    <details>
        <summary id="[anchor]" class="project-name">
            [name]
        </summary>
        <div class="project-content">
            <p>
                [details]
            </p>
            <br>
            <p class="project-smalltext">
                <a class="project-hovertext" href="https://github.com/markjoshwel/pymtheg">
                    Source Code
                </a>
                ‧
                [licensing]
            </p>
        </div>
    </details>
</div>