@tailwind base;
@layer base {
    html {
        @apply font-mono;
    }
}
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Decima Mono Pro";
    src: url("./assets/fonts/font-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Decima Mono Pro";
    src: url("./assets/fonts/font-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Decima Mono Pro";
    src: url("./assets/fonts/font-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.padding {
    @apply px-6 sm:px-12 md:px-20 lg:px-24 xl:px-36 2xl:px-44;
}

.bigtext {
    @apply text-violet-500 text-4xl font-bold;
}

.quotetext {
    @apply text-white italic text-lg sm:text-2xl lg:text-2xl xl:text-2xl 2xl:text-2xl;
}

.normaltext {
    @apply text-white text-lg;
}

.smalltext {
    @apply text-white text-sm;
}

.hovertext {
    @apply hover:text-violet-300;
}

.italictext {
    @apply normaltext italic;
}

.project {
    @apply font-bold text-violet-500 scroll-m-8 mb-4 mt-1;
}

.project-name {
    @apply font-bold text-4xl text-violet-500 hover:text-violet-400 scroll-mt-20 padding list-none select-none outline-none;
}

.project-content {
    @apply bg-[#23222b] text-white py-5 font-normal mt-2 padding;
}

.project-smalltext {
    @apply text-white text-sm;
}
