@tailwind base;
@layer base {
    html {
        @apply font-mono;
    }
}
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Decima Mono Pro";
    src: url("./assets/fonts/font-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Decima Mono Pro";
    src: url("./assets/fonts/font-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Decima Mono Pro";
    src: url("./assets/fonts/font-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.padding {
    @apply px-6 sm:px-12 md:px-20 lg:px-24 xl:px-36 2xl:px-44;
}

.bigtext {
    @apply text-violet-500 text-4xl font-bold;
}

.quotetext {
    @apply text-white italic text-lg sm:text-2xl lg:text-2xl xl:text-2xl 2xl:text-2xl;
}

.normaltext {
    @apply text-white text-lg;
}

.smalltext {
    @apply text-white text-sm;
}

.hovertext {
    @apply hover:text-violet-300;
}

.italictext {
    @apply normaltext italic;
}

.project {
    @apply 
        scroll-m-8 mb-4
        text-white font-bold
    ;
}

.project-name {
    @apply
        padding pb-2
        bg-black
        font-bold text-4xl hover:text-gray-200
        list-none
        select-none outline-none
        scroll-mt-[4.25rem] sticky top-[4.25rem]
    ;
}

.project-content {
    @apply
        padding py-4
        bg-[#23222b] text-white font-normal mt-2 padding
    ;
}

.mediaproject-content {
    @apply
        project-content
        flex flex-col-reverse sm:flex-row
        items-center justify-between
    ;
}

.mediaproject-text {
    @apply
        flex-[2]
        mt-4 sm:mt-0
        mr-0 sm:mr-4 md:mr-8 xl:mr-10 2xl:mr-14
    ;
}

.mediaproject-demo {
    @apply
        flex-1
        flex flex-col
    ;
}

.mediaproject-description {
    @apply
        mediaproject-text
        pt-4
        w-full
        text-center
        flex-none
    ;
}

.project-smalltext {
    @apply text-white text-sm;
}
